/* Utilty */

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.left {
  float: left;
}

.right {
  float: right;
}

.icon {
  fill: rgba(221, 221, 232, .8);
  width: 22px;
  height: 24px;
  margin-right: 6px;
  position: relative;
  top: 7px;
}

body {
  font-family: 'Futura', sans-serif;
  background-image: url(./bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overwatch {
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-flow: row;
}

/* Heroes List */

.heroes-list {
  padding: 2rem;
  width: 40%;
  min-height: 100vh;
  background-image: url(./list-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  color: rgba(221, 221, 232, .8);
}

.heroes-list__class i {
  display: inline-block;
}

.heroes-class__heroes {
  display: flex;
  flex-flow: row wrap;
}

.heroes-class__header {
  font-size: 1.25rem;
  font-weight: 300;
  margin-top: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(221, 221, 232, .3);
  display: inline-block;
  width: calc(100% - 28px);
  /*margin-left: 40px;*/
}

/* Hero */

.hero {
  position: relative;
  width: 15%;
  transform: skew(24.88rad);
  background-color: rgba(51,51,51,.9);
  overflow: hidden;
  cursor: pointer;
  margin-right: 1.65%;
  margin-bottom: 1rem;
  border-radius: .5rem;
  border-top: 3px solid #DDDDE8;
  border-bottom: 3px solid #DDDDE8;
}

.hero:before {
  position: relative;
  padding-top: 110%;
  display: block;
  content: '';
}

.hero:hover, .hero.active {
  background: #F7931E;
  border: none;
  box-shadow: 0 0 1px 2px #ffd800, inset 20px 20px 50px 0 #ffd800;
  transform: skew(24.88rad) scale(1.10);
}

.hero.active {
  z-index: 10;
  box-shadow: 0 0 0 2px #ffd800, 0 0 9px 3px rgba(238, 213, 1, .9), inset 0 0 1px 1px rgba(238, 213, 1, .35), inset 20px 20px 50px 0 #ffd800;
  transform: skew(24.88rad) scale(1.20);
}

.hero--small {
  width: 35px;
  border-color: #97A1C9;
  display: inline-block;
  background-color: transparent;
  margin-bottom: 0;
}

.hero--small:hover {
  background-color: transparent;
  box-shadow: none;
  transform: skew(24.88rad);
}

.hero__image {
  transform: skew(-24.88rad) scale(1);
  display: block;
  position: absolute;
  height: 100%;
  left: -12%;
  top: 0;
}

/* Hero Card */

.hero-card {
  background: rgba(255, 255, 255, .52);
  border: 2px solid rgba(55, 88, 174, .54);
  padding: 1.3rem;
  border-radius: 1rem;
  width: 470px;
  min-width: 450px;
  margin: 0 auto;
}

.hero-card__info {
  display: flex;
  position: relative;
  top: -40px;
}

.hero-card__header {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.hero-card__image {
  width: 50%;
  position: relative;
  top: -20px;
}

.hero-card__name {
  position: relative;
  top: -40px;
  font-family: 'BigNoodleTooOblique', Impact, sans-serif;
  color: #112F58;
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 1rem auto;
}

.hero-detail {
  padding-top: 2rem;
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.hero-info__scale {
  width: 24%;
  padding-top: .7rem;
}

.scale__row {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto 1.5rem;
  justify-content: center;
}

.scale--filled, .scale--empty {
  width: 20px;
  height: 33px;
  margin-right: 4px;
  transform: skew(24.88rad);
  border: 1px solid #DDDDE8;
}

.scale--filled {
  background-color: #DDDDE8;
}

.scale--empty {

  background-color: transparent;
}

.scale--filled:last-child, .scale--empty:last-child {
  margin-right: 0;
}

.hero-info__strong, .hero-info__weak {
  width: 38%;
}

.hero--small__wrapper {
  width: 100%;
  margin-bottom: .5rem;
  cursor: pointer;
}

.hero--small__wrapper.left {
  text-align: right;
}

.hero--small__wrapper.left .hero__name {
  margin-right: 1rem;
}

.hero--small__wrapper.right .hero__name {
  margin-left: .3rem;
}

.hero--small__wrapper:hover > .hero__name {
  color: #5b69a2;
}

.hero--small__wrapper.active .hero__name {
  color: red;
}

.hero--small__wrapper:hover > .hero--small {
  border: 3px solid #5b69a2;
  background-color: transparent;
  box-shadow: none;
  border-left-width: 0;
  border-right-width: 0;
}

.hero__name {
  font-family: 'BigNoodleTooOblique', Impact, sans-serif;
  color: #94A3CC;
  font-size: 1.375rem;
  position: relative;
  top: -1px;
}
