* {
  box-sizing: border-box;
}

.left {
  float: left;
}

.right {
  float: right;
}

body {
  font-family: 'Futura', sans-serif;
  background-image: url(./bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overwatch {
  background-position: center;
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  background-attachment: fixed;
  display: flex;
  flex-flow: row;
}

.heroes-list {
  padding: 2rem;
  width: 40%;
  height: 100vh;
  background-image: url(./list-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #DDDDE8;
}

.heroes-class__heroes {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1.2rem;
}

.heroes-class__heroes:last-child {
  margin-bottom: 0;
}

/*.heroes-class__heroes .hero {
  width: 16.66%;
}*/

.heroes-class__header {
  margin-top: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.hero {
  position: relative;
  width: 15%;
  transform: skew(24.88rad);
  background-color: rgba(51,51,51,.9);
  overflow: hidden;
  cursor: pointer;
  margin-right: 1.65%;
  border-radius: .5rem;
  border: 3px solid #DDDDE8;
  border-left-width: 0;
  border-right-width: 0;
  box-sizing: content-box;
  /*transition: .1s;*/
}

.hero:before {
  position: relative;
  padding-top: 110%;
  display: block;
  content: '';
}

.hero--small {
  width: 35px;
  border-color: #97A1C9;
  display: inline-block;
  background-color: transparent;
}

.hero__name {
  font-family: 'BigNoodleTooOblique', Impact, sans-serif;
  color: #94A3CC;
  font-size: 1.375rem;
  position: relative;
  top: -1px;
}

.hero:hover, .hero.active {
  background-color: #F7931E;
  border: none;
  box-shadow: 0 0 0 2px #ffd800;
  transform: skew(24.88rad) scale(1.15);
}

.hero.active {

  z-index: 10;
  box-shadow: 0 0 0 2px #ffd800, 0 0 9px 3px rgba(238, 213, 1, .9), inset 0 0 1px 1px rgba(238, 213, 1, .35);

}

.hero:hover .hero__icon, .hero.active .hero__icon {
  transform: skew(-24.88rad) scale(1);
}

.hero--small:hover {
  background-color: transparent;
  box-shadow: none;
  border-left-width: 0;
  border-right-width: 0;
  transform: skew(24.88rad);
}

/*.hero:hover > .hero__icon, .hero.active > .hero__icon {
  transform: skew(-24.88rad) scale(1.15);
}

.hero--small:hover > .hero__icon {
  transform: skew(-24.88rad);
}*/

.hero__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 140%;
  transform: skew(-24.88rad) scale(1);
}

/*.hero__icon:before {
  position: relative;
  padding-top: 110%;
  display: block;
  content: '';
}*/

.hero-card {
  background: rgba(255, 255, 255, .52);
  border: 2px solid rgba(55, 88, 174, .54);
  padding: 1.3rem;
  border-radius: 1rem;
  width: 470px;
  min-width: 450px;
  margin: 0 auto;
}

.hero-card__info {
  display: flex;
}

.hero-card__header {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.hero-card__name {
  font-family: 'BigNoodleTooOblique', Impact, sans-serif;
  color: #112F58;
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 1rem auto;
}

.hero-detail {
  padding: 1rem;
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.hero-info__scale {
  width: 24%;
  padding-top: .7rem;
}

.scale__row {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto 1.5rem;
  justify-content: center;
}

.scale--filled, .scale--empty {
  width: 20px;
  height: 33px;
  margin-right: 4px;
  transform: skew(24.88rad);
  border: 1px solid #DDDDE8;
}

.scale--filled {
  background-color: #DDDDE8;
}

.scale--empty {

  background-color: transparent;
}

.scale--filled:last-child, .scale--empty:last-child {
  margin-right: 0;
}

.hero-info__strong, .hero-info__weak {
  width: 38%;
}

.hero--small__wrapper {
  width: 100%;
  margin-bottom: .5rem;
  cursor: pointer;
}

.hero--small__wrapper.left {
  text-align: right;
}

.hero--small__wrapper.left .hero__name {
  margin-right: 1rem;
}

.hero--small__wrapper.right .hero__name {
  margin-left: .3rem;
}

.hero--small__wrapper:hover > .hero__name {
  color: #5b69a2;
}

.hero--small__wrapper:hover > .hero--small {
  border: 3px solid #5b69a2;
  background-color: transparent;
  box-shadow: none;
  border-left-width: 0;
  border-right-width: 0;
}
