* {
  box-sizing: border-box;
}

.icon {
  fill: rgba(221, 221, 232, .6);
  width: 22px;
  height: 24px;
  margin-right: 6px;
  position: relative;
  top: 7px;
}

body {
  font-family: 'Futura', sans-serif;
  background-image: url(http://localhost:8080/img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overwatch {
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-flow: row;
}

.hero-detail {
  padding-top: 2rem;
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
