@import '../../style/vars.css';

.card {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 469px;
  width: 469px;
  border: 2px solid $card-border-color;
  border-radius: 1rem;
  background: $card-background;
}

.info {
  display: flex;
}

.strong, .weak {
  width: 155px;
}
