@import '../../style/vars.css';

.magic {
  position: relative;
  top: -20px;
  display: flex;
  flex-flow: row nowrap;
  margin: 0 -20px;
  width: 465px;
  color: $card-header-text;
  text-transform: uppercase;
  font-family: 'BigNoodleTooOblique', Impact, sans-serif;
}

.name {
  position: relative;
  top: -14px;
  font-size: 2.1rem;
}

.column {
  height: 60px;
}

.row {
  height: 30px;
}

.leftCol {
  width: 140px;
  composes: column;

}

.centerCol {
  flex-grow: 1;
  composes: column;

}

.rightCol {
  width: 140px;
  composes: column;

}

.strong, .weak, .topBlank, .sideBottom, .centerBottom {
  composes: row;
}

.centerBottom {
  display: flex;
}

/* Bottom Center */

.diag {
  width: 27px;
  height: 100%;
}

.diagLeft {
  background-image: url(http://localhost:8080/img/split-diag-left.png);
  composes: diag;
}

.diagRight {
  background-image: url(http://localhost:8080/img/split-diag-right.png);
  composes: diag;
}

.bottomName {
  flex-grow: 1;
  height: 100%;
  background-image: url(http://localhost:8080/img/split-center.png);
  text-align: center;
}

/* Top Sides */

.counter {
  position: relative;
  top: 6px;
  font-size: 20px;
  transform: skew(-24.88rad);
}

.strong {
  margin-left: 25px;
  text-align: left;
  composes: counter;
}

.weak {
  margin-right: 25px;
  text-align: right;
  composes: counter;
}

/* Bottom Sides */

.sideBottom {
  display: flex;
  height: 30px;
  background-image: url(http://localhost:8080/img/split-side.png);
  background-repeat: repeat-x;
}

.far {
  width: 21px;
  height: 30px;
}

.farLeft {
  background-image: url(http://localhost:8080/img/split-left.png);
  composes: far;
}

.farRight {
  background-image: url(http://localhost:8080/img/split-right.png);
  composes: far;
}

.bottomBlank {
  flex-grow: 1;
}
